################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solitaire/FileContentIndex/0ace4d6d-555e-4ea9-882d-4cf90db159d8.vsidx
/.vs/Solitaire/FileContentIndex/1606cf32-927a-4d3c-acbd-205b23c3c514.vsidx
/.vs/Solitaire/FileContentIndex/46a65d42-6513-45e6-8789-a2feb189ea53.vsidx
/.vs/Solitaire/FileContentIndex/c34d0868-d348-49d6-a545-cb6435657d76.vsidx
/.vs/Solitaire/FileContentIndex/631a7157-0097-4487-af77-29c7f229e7a2.vsidx
/.vs/Solitaire/FileContentIndex/d56a00cb-8696-478c-aa51-245913e6a8ec.vsidx
/.vs/Solitaire/FileContentIndex/2f4617e8-8728-4490-a4e1-b9c9bd254397.vsidx
/.vs/Solitaire/FileContentIndex/9010b9c9-3327-438e-9d14-39795e2bfd98.vsidx
/.vs
